<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2><span class="badge badge-warning btn-lg btn-block">Artículos en el Carro de Compras</span></h2>
    <span class="badge badge-secondary btn-lg ">Nombre de cliente: {{cliente.nombre}} {{cliente.apellido}}</span>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">ID Detalle</th>
          <th scope="col">Producto</th>
          <th scope="col">Unidades</th>
          <th scope="col">Precio Unidad</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>

      {% for detalle in detalles %}
        <tbody>
          <tr>
            <td>{{detalle.Productoproducto.Nombre}}</td>
            <td>{{detalle.cantidad}}</td>
            <td>{{detalle.total}}</td>
            <td>
              <button class="btn btn-danger" onclick="quitar_prod({{detalle.Iddetallepedido}})">
                <i class="fa fa-trash"></i> Quitar
              </button>

            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    </div>  

    <div class="col-md-6">
      <button class="btn btn-success">
      <i class="fa fa-arrow-right"></i> Pedir
    </button>
    <button class="btn btn-danger">
      <i class="fa fa-ban"></i> Cancelar
    </button>
    <br><br>

    <button class="btn btn-warning btn-lg" onclick="catalogo_ir()">
      Catalogo
    </button>
    </div>

  </div>
</div>


<script type="text/javascript">
  function quitar_prod(iddetalle){

    $.ajax({
      type: "POST",
      url: "{{path('quitarProducto')}}",
      data:{
        id:iddetalle
      },
      success: function () {
        $("#content-page").load("{{path('carroVista',{id:empresa.Idempresa})}}"); 
      }
    });

  }

  function catalogo_ir(){
    $("#content-page").load("{{path('catalogoGeneral',{id:empresa.Idempresa})}}");
  }

</script>