<div class="container-fluid" style="margin-bottom: 30px;">
  <div class="row">

  {% if cantpedido != 0 %}
      <div class="col-md-6">
      <h2><span class="badge badge-warning btn-lg">Artículos en el Carro de Compras</span></h2>
      <span class="badge badge-secondary btn-lg ">Nombre de cliente: {{cliente.nombre}} {{cliente.apellido}}</span>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Unidades</th>
          <th scope="col">Precio Unidad</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>

      {% for detalle in detalles %}
        <tbody>
          <tr>
            <td>{{detalle.Productoproducto.Nombre}}</td>
            <td>{{detalle.cantidad}}</td>
            <td>{{detalle.Productoproducto.Precio}}
            <td>{{detalle.Total}}</td>
            <td>
              <button class="btn btn-raised btn-danger" onclick="quitar_prod({{detalle.Iddetallepedido}})">
                <i class="fa fa-trash"></i> Quitar
              </button>

            </td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    </div>
    </div>  

    <div class="col-md-6">
      <div class="container-fluid">
      <h2><span class="badge badge-warning btn-lg">Datos para envio {{empresa.Nombre}}</span></h2>
     <form>
      <fieldset class="form-group">
        <label for="envio">Direccion</label>
        <input type="text" class="form-control" id="envio" placeholder="Ingrese la direccion de envio">
      </fieldset>

      <div class="form-group">
        <label for="tipopago">Tipo de pago</label>
        <select  class="form-control" id="tipopago" name="tipopago">
          <!--<option value="1">Efectivo</option>-->
          <option value="2">Depostio</option>
        </select>
      </div>
      
  
    </form>

    <h3>Total <span class="badge badge-secondary">Q. {{pedido.Total}}</span></h3><br>
        <button class="btn btn-raised btn-success" onclick="carrito_pedir()">
      <i class="fa fa-arrow-right"></i> Pedir
    </button>
    <button class="btn btn-raised btn-danger" onclick="carrito_cancelar()">
      <i class="fa fa-ban"></i> Cancelar
    </button>
    <br>
    <button class="btn btn-raised btn-primary btn-lg" onclick="catalogo_ir()">
        Catalogo
      </button>  

    
      </div>
      
    </div>

   

  {% endif %}

  {% if cantpedido == 0 %}
    <div class="container-fluid">
    <h1 class="alert alert-info">No hay productos en el carrito</h1>
    <button class="btn btn-raised btn-primary btn-lg" onclick="catalogo_ir()">
        Catalogo
      </button>  
    </div>
      
  {% endif %} 

  
  </div>
</div>


<script type="text/javascript">
  function quitar_prod(iddetalle){

    $.ajax({
      type: "POST",
      url: "{{path('quitarProducto')}}",
      data:{
        id:iddetalle,
        idemp:"{{empresa.Idempresa}}"
      },
      success: function () {
        carritoverborrar("{{empresa.Idempresa}}");
      }
    });

  }

  function catalogo_ir(){
    $.ajax({
      type: "POST",
      url: "{{path('catalogoGeneral')}}",
      data:{
        id:"{{empresa.Idempresa}}"
      },
      success: function (html) {
        $("#content-page").html(html); 
      }
    });
  }

  function carritoverborrar(idemp){
    $.ajax({
      type: "POST",
      url: "{{path('carroVista')}}",
      data:{ 
        id:idemp
      },
      success: function (html) {
        $("#content-page").html(html); 
      }
    });
  }

  function carrito_pedir(){
    var env=$("#envio").val();
    if(env==""){
      alert("Debe ingresar direccion de envio");
    }else{
      $.ajax({
        type: "POST",
        url: "{{path('solicitarPedido')}}",
        data:{ 
          id:"{{pedido.Idpedido}}",
          tipo:$("#tipopago").val(),
          envio:$("#envio").val()
        },
        success: function () {
          catalogo_ir();
        }
      });
    }
    
  }

  function carrito_cancelar(){
    $.ajax({
      type: "POST",
      url: "{{path('cancelarPedido')}}",
      data:{ 
        id:"{{pedido.Idpedido}}"
      },
      success: function () {
        catalogo_ir();
      }
    });
  }

</script>