<div class="container-fluid">
  <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          {% if app.user != null %}
          <h2 class="my-4">Compras</h2>
          <div class="list-group">
              <button onclick="carritover({{empresa.Idempresa}})" class="list-group-item btn btn-raised btn-secondary">
                <i class="fas fa-shopping-cart fa-2x"></i> Mi carrito
              </button> 
          </div>
          {% endif %}

          <h2 class="my-4">Categorias</h2>
          <div class="list-group">
            {% for categoria in categorias %}
              <a href="#" class="list-group-item btn  btn-raised btn-primary">{{categoria.Nombre}}</a>    
            {% endfor %}
          </div>
          

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

        

          <div class="row">


            {% for producto in productos %}
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{asset(producto.imgurl)}}" alt=""></a>
                <div class="card-body">
                  <input type="hidden" id="prod_{{producto.Nombre}}" value="{{producto.Nombre}}">
                  <h4 class="card-title">
                    <a href="#">{{producto.Nombre}}</a>
                  </h4>
                  <h5>{{producto.Precio}}</h5>
                  <p class="card-text">{{producto.Descripcion}}</p>
                </div>
                <div class="card-footer">
                  {% if app.user != null %}
                    <button type="button" class="btn btn-raised btn-success" 
                    onclick="msj_cantidad({{producto.Idproducto}},'{{producto.Nombre}}')">
                    <i class="fas fa-cart-plus"></i>
                  </button>
                  {% endif %}
                  {% if app.user == null %}
                  <button type="button" class="btn btn-raised btn-success" 
                    data-toggle="snackbar" 
                    data-content="Inicie sesion para acceder al carrito"
                    data-html-allowed="true" 
                    data-timeout="0">
                    <i class="fas fa-cart-plus"></i>
                  </button>
                  {% endif %}
                  
                  
                  
                  <button class="btn btn-raised btn-info">
                    <i class="fas fa-info-circle"></i>
                  </button>

                </div>
              </div>
            </div>    
            {% endfor %}

            

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

   
   
    

    <!-- The Modal -->
<div class="modal" id="modal_cantidad">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="nombre_producto"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <label for="cantidad_producto">Cantidad de producto</label>
        <input type="number" id="cantidad_producto" class="form-control">
        <input type="hidden" id="idproducto">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" 
        class="btn btn-succes" 
        onclick="agregar_carrito()"
        data-toggle="snackbar" 
        data-content="Producto agregado a carrito! <button class='btn btn-raised btn-warning' onclick='carritover({{empresa.Idempresa}})'>Ir a carrito</a>"
        data-html-allowed="true" 
        data-timeout="0">Agregar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

    <script type="text/javascript">

    function msj_cantidad(id,name){
      $("#nombre_producto").text(name);
      $("#idproducto").val(id);
      $("#modal_cantidad").modal("show");
      $('body').removeClass('modal-open');//eliminamos la clase del body para poder hacer scroll
      $('.modal-backdrop').remove();
    }


    

    function agregar_carrito(){
      var cant=$("#cantidad_producto").val();
      if(cant!=0){
        $.ajax({
                type: "POST",
                url: "{{path('carro')}}",
                data:{
                  id:"{{empresa.Idempresa}}",
                  id2:$("#idproducto").val(),
                  cantidad:$("#cantidad_producto").val()
                },
                success: function () {
                  catalogo_ir();
                }
            });
      }else{
        alert("Debe ingresar una cantidad");
      }
      

    }

    function catalogo_ir(){
    $.ajax({
      type: "POST",
      url: "{{path('catalogoGeneral')}}",
      data:{
        id:"{{empresa.Idempresa}}"
      },
      success: function (html) {
        $("#content-page").html(html); 
      }
    });
  }

    

    </script>


